header {
    background-color:gold;
    color:darkslategray;
    text-align: center;
    size: 5px;
    width: 100%;
    margin-top: 0%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
}

body {
    margin: 0%;
}


#btea {
    border: 2px solid;
    color:darkblue;
    background-color:hotpink;
    transition: 200ms linear;
}

#index {
    border: 2px solid;
    color:black;
    background-color:lightgoldenrodyellow;
    transition: 200ms linear;
}

#matrix {
    border: 2px solid;
    color:darkgreen;
    background-color:black;
    transition: 200ms linear;
}

#speed {
    border: 2px solid;
    color:darkred;
    background-color:tan;
    transition: 200ms linear;
}

#pb {
    border: 2px solid;
    color:blue;
    background-color:orange;
    transition: 200ms linear;
}

#wick {
    border: 2px solid;
    color:lavender;
    background-color:midnightblue;
    transition: 200ms linear;
}

nav {
    background-color:darkslategray;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap:wrap;
    border-bottom: 2px solid gold;
}

nav a {
    display: block;
    font-weight: bold;
    margin: 1px;
    padding: 1px 5px;
    text-decoration: none;
}

body {
    background-image: url("john.jpg");
}

h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkslategray;
    border: 2px solid gold;
    color: gold;
}

img {
    padding: 15px;
    background-color:darkslategray;
    border: 2px solid gold;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto
}

ul {
    padding: 15px;
    background-color:darkslategray;
    border: 2px solid gold;
    color:gold;
}

#sum {
    padding: 15px;
    background-color:darkslategray;
    border: 2px solid gold;
    color: gold;
}
