header {
    background-color:black;
    color:darkgreen;
    text-align: center;
    size: 5px;
    width: 100%;
    margin-top: 0%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
}

body {
    margin: 0%;
}


#btea {
    border: 2px solid;
    color:black;
    background-color:salmon;
    transition: 200ms linear;
}

#index {
    border: 2px solid;
    color:black;
    background-color:lightgoldenrodyellow;
    transition: 200ms linear;
}

#pb {
    border: 2px solid;
    color:blue;
    background-color:orange;
    transition: 200ms linear;
}

#speed {
    border: 2px solid;
    color:darkred;
    background-color:tan;
    transition: 200ms linear;
}

#john {
    border: 2px solid;
    color:gold;
    background-color:darkslategray;
    transition: 200ms linear;
}

#wick {
    border: 2px solid;
    color:lavender;
    background-color:midnightblue;
    transition: 200ms linear;
}

nav {
    background-color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap:wrap;
    border-bottom: 2px solid darkgreen;
}

nav a {
    display: block;
    font-weight: bold;
    margin: 1px;
    padding: 1px 5px;
    text-decoration: none;
}

body {
    background-image: url("matrixbackground.jpg");
}

h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border: 2px solid darkgreen;
}

img {
    text-align: center;
    padding: 15px;
    background-color:black;
    border: 2px solid darkgreen;
}

ul {
    padding: 15px;
    background-color:black;
    border: 2px solid darkgreen;
    color:darkgreen;
}

p {
    padding: 15px;
    background-color:black;
    border: 2px solid darkgreen;
    color: darkgreen;
}